* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 60px;
  background-color: #2CAC9A;
  font: 14px "Consolas","Microsoft Yahei",Arial,monospace;
}

.navbar-brand {
  padding: 15px 50px;
}

.userimg {
	width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 1px;
    margin-right: 50px;
    margin-left: 20px;
}

.user_dropdown {
	margin-left: -40px;
    margin-top: 20px;
}

li > span.user_dropdown~.dropdown-menu {
	margin-top: 20px;
	width: 130px;
    right: 10px;
}

/*  well背景样式 */
/* .well {
  border: 1px solid #ccc;
  background-color: #eee;
} */

/* 侧边栏 */
.sidebar {
  position: fixed;
  width: 210px;
  top: 60px;
  left: 0;
  bottom: 0;
  background-color: #191b2e;
  z-index: 100;
  color: white;
}

.main-header {
    height: 50px;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background-color: #F6F6F6;
    padding-left: 100px;
    margin: 0 10px;
    margin-top: -20px;
    border-radius: 20%;
}

.main-header .header-line {
    float: left;
    width: 6px;
    height: 50px;
    background-color: #1dd388;
    margin-right: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

i {
    font-style: normal;
}

.main-header .header-title-firstname {
    margin-right: 10px;
}

.main-header .header-title-secondname {
    border-left: 2px solid #666;
    padding-left: 10px;
}

.main-header .header-title-firstname, .main-header .header-title-secondname {
    font-size: 24px;
    line-height: 50px;
    color: #333;
}

.main-content {
  overflow: auto;
}

/* 推荐视频和直播间样式 */
/* .suggestion {
  margin: 0 auto;
} */

.suggested_video{
  padding: 0;
  height: 720px;
}

.suggested_video video {
  height: 100%;
  width: 100%;
}

.suggestion_list {
  padding: 0;
}

.suggestion ul {
  height: auto;
  width: 278px;
  margin: 0 auto;
  position: absolute;
  right: 10px;
}

.suggestion ul li {
  list-style: none;
  height: 120px;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid black;
}

.suggestion ul li a {
 height: 100px;
}

/* 直播间列表样式 */
.text-right {
    text-align: right;
}

.liveList {

}

.liveList img {
    width: 100%;
    height: 170px;
}

.liveList img.platform-icon {
    width: 50px;
    height: 27px;
    position: absolute;
    top: 0;
    right: 20px;
}

.liveList a {
    color: #000;
    text-decoration: none;
    margin: 6px 0;
    height: 234px;
}

.liveList h5 {
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
}

.liveList a:hover h5 {
    color: #EB3838;
}

.liveList .row {
    font-size: 12px;
    color: #787878;
    background-color: #fff;
    padding: 10px 0;
    padding-top: 0;
    margin-right: 0;
    margin-left: 0;
    border-bottom: 3px solid #ececec;
    transition: all 0.2s ease-out;
}

.liveList a:hover .row {
    border-bottom: 3px solid #EB3838;
}

.liveList h5, .liveList div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* 轮播图样式 */
#carousel-pictures {
  margin: 0 auto;
}

.carousel {
  width: 100%;
  height: 100%;
}

/*  登陆框样式 */
.opacity {
   position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  background-color:  rgba(0,0,0,0.5);
  z-index: 1031;
}

.login {
  position: relative;
  z-index: 1032;
}

/* 分页栏样式 */

.pagination {
  padding-left: 100px;
  width: auto;
}

#InputPage {
  width: 60px;
}

.form-inline {
  vertical-align: middle;
  padding: 30px 0px;
  margin-left: -40px;
}



/* 页脚样式 */
footer {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #3f3f3f;
  text-align: center;
  width: 100%;
  color: #979797;
  padding: 30px 0;
  overflow: hidden;
  line-height: 22px;
}



