<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.yj.pojo.User">
    <id column="user-id" jdbcType="INTEGER" property="userId" />
    <result column="user-name" jdbcType="VARCHAR" property="userName" />
    <result column="user-password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user-nickname" jdbcType="VARCHAR" property="userNickname" />
    <result column="user-email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user-phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user-authentic-name" jdbcType="VARCHAR" property="userAuthenticName" />
    <result column="user-resume" jdbcType="VARCHAR" property="userResume" />
    <result column="user-sex" jdbcType="VARCHAR" property="userSex" />
    <result column="user-birthday" jdbcType="VARCHAR" property="userBirthday" />
    <result column="user-video-level" jdbcType="INTEGER" property="userVideoLevel" />
    <result column="user-head-img" jdbcType="VARCHAR" property="userHeadImg" />
    <result column="login-time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="quit-time" jdbcType="TIMESTAMP" property="quitTime" />
  </resultMap>
  <sql id="Base_Column_List">
    `user-id`, `user-name`, `user-password`, `user-nickname`, `user-email`, `user-phone`, `user-authentic-name`, 
    `user-resume`, `user-sex`, `user-birthday`, `user-video-level`, `user-head-img`, `login-time`, 
    `quit-time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `video-user`
    where `user-id` = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `video-user`
    where `user-name` = #{username,jdbcType=VARCHAR}
  </select>
  <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `video-user`
    where `user-phone` = #{phone,jdbcType=VARCHAR}
  </select>
  <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `video-user`
    where `user-email` = #{email,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `video-user`
    where `user-id` = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yj.pojo.User">
    insert into `video-user` (`user-id`, `user-name`, `user-password`, 
      `user-nickname`, `user-email`, `user-phone`, 
      `user-authentic-name`, `user-resume`, `user-sex`, 
      `user-birthday`, `user-video-level`, `user-head-img`, 
      `login-time`, `quit-time`)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userNickname,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, 
      #{userAuthenticName,jdbcType=VARCHAR}, #{userResume,jdbcType=VARCHAR}, #{userSex,jdbcType=VARCHAR}, 
      #{userBirthday,jdbcType=VARCHAR}, #{userVideoLevel,jdbcType=INTEGER}, #{userHeadImg,jdbcType=VARCHAR}, 
      #{loginTime,jdbcType=TIMESTAMP}, #{quitTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yj.pojo.User">
    insert into `video-user`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        `user-id`,
      </if>
      <if test="userName != null">
        `user-name`,
      </if>
      <if test="userPassword != null">
        `user-password`,
      </if>
      <if test="userNickname != null">
        `user-nickname`,
      </if>
      <if test="userEmail != null">
        `user-email`,
      </if>
      <if test="userPhone != null">
        `user-phone`,
      </if>
      <if test="userAuthenticName != null">
        `user-authentic-name`,
      </if>
      <if test="userResume != null">
        `user-resume`,
      </if>
      <if test="userSex != null">
        `user-sex`,
      </if>
      <if test="userBirthday != null">
        `user-birthday`,
      </if>
      <if test="userVideoLevel != null">
        `user-video-level`,
      </if>
      <if test="userHeadImg != null">
        `user-head-img`,
      </if>
      <if test="loginTime != null">
        `login-time`,
      </if>
      <if test="quitTime != null">
        `quit-time`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null">
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userAuthenticName != null">
        #{userAuthenticName,jdbcType=VARCHAR},
      </if>
      <if test="userResume != null">
        #{userResume,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null">
        #{userBirthday,jdbcType=VARCHAR},
      </if>
      <if test="userVideoLevel != null">
        #{userVideoLevel,jdbcType=INTEGER},
      </if>
      <if test="userHeadImg != null">
        #{userHeadImg,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quitTime != null">
        #{quitTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yj.pojo.User">
    update `video-user`
    <set>
      <if test="userName != null">
        `user-name` = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        `user-password` = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userNickname != null">
        `user-nickname` = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        `user-email` = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        `user-phone` = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userAuthenticName != null">
        `user-authentic-name` = #{userAuthenticName,jdbcType=VARCHAR},
      </if>
      <if test="userResume != null">
        `user-resume` = #{userResume,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        `user-sex` = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null">
        `user-birthday` = #{userBirthday,jdbcType=VARCHAR},
      </if>
      <if test="userVideoLevel != null">
        `user-video-level` = #{userVideoLevel,jdbcType=INTEGER},
      </if>
      <if test="userHeadImg != null">
        `user-head-img` = #{userHeadImg,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        `login-time` = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="quitTime != null">
        `quit-time` = #{quitTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `user-id` = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yj.pojo.User">
    update `video-user`
    set `user-name` = #{userName,jdbcType=VARCHAR},
      `user-password` = #{userPassword,jdbcType=VARCHAR},
      `user-nickname` = #{userNickname,jdbcType=VARCHAR},
      `user-email` = #{userEmail,jdbcType=VARCHAR},
      `user-phone` = #{userPhone,jdbcType=VARCHAR},
      `user-authentic-name` = #{userAuthenticName,jdbcType=VARCHAR},
      `user-resume` = #{userResume,jdbcType=VARCHAR},
      `user-sex` = #{userSex,jdbcType=VARCHAR},
      `user-birthday` = #{userBirthday,jdbcType=VARCHAR},
      `user-video-level` = #{userVideoLevel,jdbcType=INTEGER},
      `user-head-img` = #{userHeadImg,jdbcType=VARCHAR},
      `login-time` = #{loginTime,jdbcType=TIMESTAMP},
      `quit-time` = #{quitTime,jdbcType=TIMESTAMP}
    where `user-id` = #{userId,jdbcType=INTEGER}
  </update>
</mapper>